.bin/*/.ssh/known_hosts*
.bin/*/.ssh/*.pub
.bin/*/.ssh/github
.bin/*/.config/ghc/ghci_history
.bin/*/.config/nvim
.bin/*/.config/DMM
.bin/*/.config/ghc
.bin/*/.config/iterm2
.bin/*/.user.zsh
.bin/*/.config/anyenv
/lazygit*
wezterm-*
.rubocop.yml
aws
